header{
  width: 100%;
  height: 80px;
  position: fixed;
  transition: .6s ease-in-out all;
  a.logo{
    width: 66px;
    height: 57px;
    background: url('./assets/logo.png') no-repeat;
    background-size: contain;
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 11.5px;
  }
  nav{
    margin: 14px 35px 0 0;
    padding: 0;
    float: right;
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        a{
          font-family: Arial;
          display: block;
          text-decoration: none;
          padding: 15px 10px;
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
  }
  &.sticky{
    height: 60px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.14);
    a.logo{
      width: 50px;
      height: 43px;
      margin-top: 8.5px;
    }
    nav{
      margin-top: 5px;
      a{
        font-size: 18px;
      }
    }
  }
}